$breakpoints: (
    "xs" : 275px,
    "sm" : 817px,
    "md" : 1000px,
    "lg" : 1416px,
    "xl" : 1920px,
);
@mixin xs {
    @media (max-width:map-get($breakpoints, "xs")) {
        @content;
    }  
}
@mixin sm {
    @media (max-width:map-get($breakpoints, "sm")) {
        @content;
    }  
}
@mixin md {
    @media (max-width:map-get($breakpoints, "md")) {
        @content;
    }  
}
@mixin lg {
    @media (max-width:map-get($breakpoints, "lg")) {
        @content;
    }  
}
@mixin xl {
    @media (max-width:map-get($breakpoints, "xl")) {
        @content;
    }  
}
@mixin xs {
    @media (max-width:map-get($breakpoints, "xs")) {
        @content;
    }  
}
@mixin Button($fontsize) {
    box-sizing: content-box;
    font-size: $fontsize;
    font-family: $mainFont;
    background-color: $redColor;
    border-radius: 20px;
    padding: 10px 40px;
    color: $logoColor;
    border: solid 2px $redColor;
    transition: all 0.4s ease-in;
    cursor: pointer;
    &:hover{
        background-color: rgba(255, 255, 255, 0);
        border: solid 2px $redColor;
    }
}