$bgColor: #2A363B;
$textColor: rgba(255, 255, 255, 0.3);
$logoColor: #ffffff;
$blockColor: #3D484C;
$redColor: #E84A5F;
$widthLink: auto;
$mainFont: 'Montserrat', sans-serif;
$burgerlinecolor:#D9D9D9;
$mainTextColor: #FFFFFF;
$blockColorNr2:#D9D9D92E;
$dotColor:#FF847B;
$yellowColor:#FECEA8;
$greenColor:#B6CB9E;
$orangeColor:#FF847B;
